body {
  color: white;
}

.mr-h80 {
  height: 80px;
}

.mr-drk-blue {
  background-color: #253646;
}
.mr-blue {
  background-color: #304A61;
}

.mr-liht-green {
  background-color: #00B492;
}
.mr-pt-30 {
  padding-top: 30px;
}

nav button {
  color: white;
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.mr-wrapper {
  height: 800px;
}
.mr-center {
  position: absolute;
  top: 50%;

}