
/* FONT COLOR */
.mr-font-white {
  color: white;
}

/* HEIGHT */
.mr-h80 {
  height: 80px;
}

/* BACKGROUND COLOR */
.mr-bg-drk-blue{
  background-color: #253646;
}
.mr-bg-blue {
  background-color: #304A61;
}

.mr-bg-light-green {
  background-color: #00B492;
}

/* MARGIN */
.mr-mt-20 {
  margin-top: 20px;
}

/* PADDING */

.mr-pt-30 {
  padding-top: 30px;
}
.mr-pb-30 {
  padding-bottom: 30px;
}

/* WRAPPER */
.mr-wrapper-60 {
  width:60%;
  margin: 0 auto;
}

/* HEADER */

/* NAV */
nav button {
  color: white;
  text-decoration: none;
}
nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* JUMBOTRON */
.mr-jumbotron {
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.mr-jumbotron img {
  width: 30%;
}
.mr-jumbotron h1 {
font-size: 40px;  
}

/* STAR FONT */

.mr-star {
  position: relative;
  font-size: 30px;
  margin: 20px auto;
}
.mr-star-font .glyphicon-star {
  position: relative;
  z-index: 1;
  width: 100px;
  background-color: inherit;
}

.mr-star-line::before {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  content: '';
  display: table-cell;
  border-bottom: solid 2px;
}

/* STAR RESPONSIVE */
@media screen and (max-width: 767px) {
  .mr-star-font .glyphicon-star {
    width:50px;
  }
  .mr-star-line::before {
    width: 100px;
  }
}

@media screen and (min-with: 768px)
and (max-width: 991px) {
  .mr-star-font .glyphicon-star {
    width: 100px;
  }
  .mr-star-line::before {
    width: 200px;
  }
}

.mr-box-100 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
  border: 1px solid black;
}

#about a {
  border-color: white;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: solid 1px;
}
