
.mr-font-white {
  color: white;
}

.mr-h80 {
  height: 80px;
}

.mr-drk-blue {
  background-color: #253646;
}
.mr-blue {
  background-color: #304A61;
}

.mr-bg-light-green {
  background-color: #00B492;
}

.mr-mt-20 {
  margin-top: 20px;
}
.mr-pt-30 {
  padding-top: 30px;
}
.mr-pb-30 {
  padding-bottom: 30px;
}



nav button {
  color: white;
  text-decoration: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.mr-immage {
  display: inline-block;
  height: 150px;
  width: 150px;
}
.mr-star {
  margin: 20px auto;
}

.mr-box-100 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
  border: 1px solid black;
}

#about a {
  color: inherit;
  background-color: inherit;
}